<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h2 th:text="${titulo}" class="text-center mt-5 mb-3">title</h2>

		<p th:if="${categorias.isEmpty()}" th:text="'No hay categorias para mostrar'"></p>
		
		<div class="d-flex justify-content-end">
			<a class="btn btn-success my-3" th:href="@{/categorias/nueva-categoria}" 
				th:text="'Agregar categoria'"></a>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-12 mx-auto">
				<table th:if="${!categorias.isEmpty()}"
					class="table table-striped text-center table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Categoría</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria : ${categorias}">
							<td th:text="${categoria.id}">Id</td>
							<td th:text="${categoria.categoria}">Categoría</td>
							<td>
								<a  class="btn btn-outline-warning" 
									th:href="@{editar-categoria/} + ${categoria.id}"
									th:text="'Editar'">
								</a>
							</td>
							<td>
								<a  class="btn btn-outline-danger" 
									th:href="@{eliminar-categoria/} + ${categoria.id}"
									th:text="'Eliminar'">
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<!-- row -->

	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>