<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container" th:fragment="tarjeta-post">

		<h2 th:if="${!#strings.isEmpty(titulo)}" th:text="${titulo}"
			class="text-center my-4"></h2>

		<p th:if="${listadoPosts.isEmpty()}"
			th:text="'No hay posts para mostrar en esta categoria'"></p>

		<div th:if="${!listadoPosts.isEmpty()}">
			<div class="row entrada mb-5" th:each="post : ${listadoPosts}">
				<div class="col-md-5" th:if="${post.status}">
					<img th:src="@{'/uploads/' + ${post.imagen}}"
						th:alt="${post.titulo}" class="img-fluid img-thumbnail w-100" />
				</div>
				<div class="col-md-7" th:if="${post.status}">
					<h5 class="my-2" th:text="${post.titulo}">Titulo</h5>
					<p class="meta">
						Escrito el: <span
							th:text="${#dates.format(post.fechaCreacion, 'dd-MMM-yyyy')}">fecha</span>
						por <span th:text="${post.user.nombres}">Autor</span>
					</p>
					<div class="contenido-post tarjeta-post" th:utext="${post.contenido}">Contenido del Post</div>
					<a th:href="@{/leer-post/} + ${post.id}"
						class="btn btn-success px-5 py-2 mt-4">Leer más..</a>
				</div>
				<div th:if="${!post.status}">El post se mostrará cuando haya sido publicado!!</div>
			</div>
			<!-- entrada -->
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>