<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-5">
		<h2 class="text-center my-5" th:text="${titulo}">Titulo</h2>

		<div class="row">
			<div class="col-md-8 px-3">
				<img class="img img-fluid w-100 mb-3"
					th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}"
					style="max-height: 500px;" />

				<div th:utext="${post.contenido}" class="text-justify post-completo"></div>

				<div class="d-flex align-items-center justify-content-between">

					<div
						class="d-flex flex-row align-items-center justify-content-center">
						<i class="fa-solid fa-calendar px-2"></i>
						<p class="m-0"
							th:text="${#dates.format(post.fechaCreacion, 'dd-MMM-yyyy')}"></p>
					</div>

					<div
						class="d-flex flex-row align-items-center justify-content-center">
						<i class="fa-solid fa-user px-2"></i>
						<p class="m-0" th:text="${post.user.nombres}"></p>
					</div>
				</div>
				<!-- flex -->
			</div>
			<!-- col-8 -->

			<div class="col-md-4">

				<h3>Popular</h3>

				<div class="blogs">

					<div class="row align-items-center my-2">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<div class="contenido-post" th:utext="${post.contenido}">
								Contenido del Post</div>
						</div>
					</div>
					<!-- row -->

					<div class="row my-2 align-items-center">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<div class="contenido-post" th:utext="${post.contenido}">
								Contenido del Post</div>
						</div>
					</div>
					<!-- row -->

					<div class="row align-items-center my-2">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<div class="contenido-post" th:utext="${post.contenido}">
								Contenido del Post</div>
						</div>
					</div>

					<div class="row align-items-center my-2">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<div class="contenido-post" th:utext="${post.contenido}">
								Contenido del Post</div>
						</div>
					</div>

					<div class="row align-items-center my-2">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<div class="contenido-post" th:utext="${post.contenido}">
								Contenido del Post</div>
						</div>
					</div>

				</div>
				<!-- row padre -->

				<div class="topics mt-5">

					<h3>Topics</h3>

						<div class="row">
							<div class="col">Topic 1</div>
						</div>
						
						<div class="row">
							<div class="col">Topic 1</div>
						</div>
						
						<div class="row">
							<div class="col">Topic 1</div>
						</div>
						
						<div class="row">
							<div class="col">Topic 1</div>
						</div>

				</div>

			</div>
		</div>
		<!-- row -->
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>