<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-5">
		<h2 class="text-center my-5" th:text="${titulo}">Titulo</h2>

		<div class="row">
			<div class="col-md-8 px-3">
				<img class="img img-fluid w-100 mb-3"
					th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}"
					style="max-height: 500px;" />

				<div th:utext="${post.contenido}" class="text-justify post-completo"></div>

				<div class="d-flex align-items-center justify-content-between mt-5">

					<div
						class="d-flex flex-row align-items-center justify-content-center">
						<i class="fa-solid fa-calendar px-2"></i>
						<p class="m-0"
							th:text="${#dates.format(post.fechaCreacion, 'dd-MMM-yyyy')}"></p>
					</div>

					<div
						class="d-flex flex-row align-items-center justify-content-center">
						<i class="fa-solid fa-user px-2"></i>
						<p class="m-0" th:text="${post.user.nombres}"></p>
					</div>
				</div>
				<!-- flex -->
			</div>
			<!-- col-8 -->

			<div class="col-md-4">

				<h2>Popular</h2>

				<div class="blogs">

					<a class="row align-items-center my-2 entrada"
						th:each="post : ${postsPopulares}"
						th:href="@{/leer-post/} + ${post.id}"
						th:if="${post.status}" 
						style="padding: 10px;">
						<div class="col-4">
							<img class="img img-fluid w-100"
								th:src="@{'/uploads/' + ${post.imagen}}" th:alt="${post.titulo}" />
						</div>
						<div class="col-8">
							<h4 th:text="${post.titulo}" style="font-size: 16px;"></h4>
							<div class="d-flex align-items-center justify-content-between">
								<div
									class="d-flex flex-row align-items-center justify-content-center">
									<i class="fa-solid fa-calendar px-2"></i>
									<p class="m-0"
										th:text="${#dates.format(post.fechaCreacion, 'dd-MMM-yyyy')}"></p>
								</div>

								<div
									class="d-flex flex-row align-items-center justify-content-center">
									<i class="fa-solid fa-user px-2"></i>
									<p class="m-0" th:text="${post.user.nombres}"></p>
								</div>
							</div>
						</div>
					</a>
					<!-- row -->
				</div>
				<!-- row padre -->

				<!-- categorias -->
				<div th:replace="layout/categorias-lista :: categorias-list"></div>

			</div>
		</div>
		<!-- row -->

		<!-- comentarios -->
		<div class="row mt-5">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 col-lg-12">
						<div class="card text-dark">
							<div class="card-body p-4">
								<h2 class="mb-0">Comentarios</h2>
								<p class="fw-light mb-4 pb-2">Comentarios del post</p>

								<p th:if="${#lists.isEmpty(post.comentarios)}"
									class="text-dark m-4"
									th:text="'No hay comentarios asignados para el post: ' + ${post.titulo}">
								</p>

								<div th:if="${not #lists.isEmpty(post.comentarios)}"
									class="d-flex flex-start mt-4"
									th:each="comentario : ${post.comentarios}">
									<p
										class="rounded-circle shadow-1-strong mr-3 badge badge-info p-4"
										th:text="${#strings.substring(comentario.nombre,0,1)}"
										style="font-size: 18px;" />
									<div>
										<h6 class="fw-bold mb-1" th:text="${comentario.nombre}">Nombre</h6>
										<div class="d-flex align-items-center mb-1">
											<p class="mb-0 mr-2 badge badge-dark"
												th:text="${#dates.format(comentario.fechaCreacion, 'dd-MM-yyyy')}">
											</p>
										</div>
										<p class="mb-0" th:text="${comentario.comentario}">comentario</p>
									</div>
								</div>

								<!-- COMENTARIOS -->

								<!--<div th:replace="posts/comentario-post :: comentario"></div>-->

								<div class="mt-5">
									<a class="btn btn-success"
										th:href="@{/comentarios/comentario-post/} + ${post.id}"
										th:text="'Hacer un comentario'"></a>
								</div>

							</div>
							<!-- card -->

							<hr class="my-0" />


						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- roe -->

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>