
body{
	position: relative;
	padding-bottom: 5rem;
	min-height: 100vh;
}

a,
a:hover{
	text-decoration: none;
	color: #000;
}

input[type=checkbox] {
    transform: scale(1.5);
    accent-color: #FD841F;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}
